.boxed{
    
    text-align:center ;
    border: 3px solid rgb(0, 68, 255) ;
    width:550px;
    margin-left: auto;
    margin-right: auto;
    margin-top:15px;
    margin-bottom:15px;
    align-content: center;
    padding-top: 3px;
    padding-bottom: 6px;
    padding-right:10px;
    padding-left:10px;
    box-shadow: 15px 10px 10px rgb(0, 162, 255);
    background-color: white;
    
}