.main{
    text-align:center ;
    border: 3px solid rgb(0, 68, 255) ;
    width:550px;
    margin-left: auto;
    margin-right: auto;
    margin-top:15px;
    margin-bottom:15px;
    align-content: center;
    padding-top: 3px;
    padding-bottom: 6px;
    padding-right:10px;
    padding-left:10px;
    box-shadow: 15px 10px 10px rgb(0, 162, 255);
    background-color: white;
    
}
.telegbtn{
    width:240px;
    margin-left: 42px;
}
h1,h2 {
    
    color:rgb(0, 68, 255);
    font-size:25px; 
    text-shadow: 2px 2px 5px rgba(21, 200, 212, 0.897);
}
body{
    height:200px;
    background-color:#ddd;}

form{
    text-align: left;
}
h2{
    margin-left:240px ;
    font-size: 20px;
    margin-bottom: 6px;
    margin-top: 4px;
}
.btn1{
    margin-left:201px ;

}
.sbtn{
    display:flex;
}

.btn{
    height:50px;
}